@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);




body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #00afef !important;
}
.bg-success {
  background-color: #00569f !important;
}
.bg-info {
  background-color: #ec068d !important;
}
.bg-warning {
  background-color: #000000 !important;
}
.bg-danger {
  background-color: #00afef !important;
}
.btn-primary {
  background-color: #00afef;
  border-color: #00afef;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #0077a3;
  border-color: #0077a3;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0077a3 !important;
  border-color: #0077a3 !important;
}
.btn-secondary {
  background-color: #fac51c;
  border-color: #fac51c;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #c59704;
  border-color: #c59704;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #c59704 !important;
  border-color: #c59704 !important;
}
.btn-info {
  background-color: #ec068d;
  border-color: #ec068d;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #a10460;
  border-color: #a10460;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #a10460 !important;
  border-color: #a10460 !important;
}
.btn-success {
  background-color: #00569f;
  border-color: #00569f;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #002d53;
  border-color: #002d53;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #002d53 !important;
  border-color: #002d53 !important;
}
.btn-warning {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger {
  background-color: #00afef;
  border-color: #00afef;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #0077a3;
  border-color: #0077a3;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #0077a3 !important;
  border-color: #0077a3 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #006489;
  color: #006489;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #00afef;
  border-color: #00afef;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #00afef !important;
  border-color: #00afef !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #ac8404;
  color: #ac8404;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #fac51c;
  border-color: #fac51c;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #fac51c !important;
  border-color: #fac51c !important;
}
.btn-info-outline {
  background: none;
  border-color: #890352;
  color: #890352;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #ec068d;
  border-color: #ec068d;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ec068d !important;
  border-color: #ec068d !important;
}
.btn-success-outline {
  background: none;
  border-color: #001f39;
  color: #001f39;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #00569f;
  border-color: #00569f;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #00569f !important;
  border-color: #00569f !important;
}
.btn-warning-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #006489;
  color: #006489;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #00afef;
  border-color: #00afef;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #00afef !important;
  border-color: #00afef !important;
}
.text-primary {
  color: #00afef !important;
}
.text-success {
  color: #00569f !important;
}
.text-info {
  color: #ec068d !important;
}
.text-warning {
  color: #000000 !important;
}
.text-danger {
  color: #00afef !important;
}
.alert-success {
  background-color: #00569f;
}
.alert-info {
  background-color: #ec068d;
}
.alert-warning {
  background-color: #000000;
}
.alert-danger {
  background-color: #00afef;
}
.btn-social {
  border-color: #00afef;
}
.btn-social:hover {
  background: #00afef;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #00afef;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #00afef;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #00afef;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #00afef;
}
.lead a,
.lead a:hover {
  color: #00afef;
}
.lead blockquote {
  border-color: #00afef;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #bcedff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #2098ff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fdc1e4;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #bcedff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #00afef;
}
#ext_menu-9 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-9 .navbar-caption {
  color: #ffffff;
}
#ext_menu-9 .navbar-toggler {
  color: #000000;
}
#ext_menu-9 .close-icon::before,
#ext_menu-9 .close-icon::after {
  background-color: #000000;
}
#ext_menu-9 .link,
#ext_menu-9 .dropdown-item {
  color: #000000;
}
#ext_menu-9 .link {
  font-size: 1rem;
}
#ext_menu-9 .dropdown-item,
#ext_menu-9 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-9 .link:hover,
#ext_menu-9 .dropdown-item:hover,
#ext_menu-9 .link:focus,
#ext_menu-9 .dropdown-item:focus {
  color: #00afef;
}
#ext_menu-9 .link[aria-expanded="true"],
#ext_menu-9 .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-9 .nav-dropdown-sm .link:focus,
#ext_menu-9 .nav-dropdown-sm .link:hover,
#ext_menu-9 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-9 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-9 .navbar,
#ext_menu-9 .nav-dropdown-sm,
#ext_menu-9 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-9 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-9 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-9 .bg-color.transparent.opened .link:hover,
#ext_menu-9 .bg-color.transparent.opened .link:focus {
  color: #00afef;
}
#ext_menu-9 .link[aria-expanded="true"],
#ext_menu-9 .dropdown-item[aria-expanded="true"] {
  color: #00afef!important;
}
#msg-box3-8 .mbr-section-title,
#msg-box3-8 p {
  color: #000;
}
#msg-box3-8 .mbr-section-title {
  color: #ffffff;
}
#msg-box3-8 .lead P {
  color: #ffffff;
}
#msg-box3-8 .btn {
  font-size: 14px;
}
#features4-7 .card-subtitle {
  color: #bcbcbc;
}
#features4-7 .iconbox {
  background-color: #00afef;
  border-color: #00afef;
}
#form1-5 .form-control-label {
  color: #ffffff;
}
#form1-5 .mbr-section-title {
  color: #ffffff;
}
#form1-5 SMALL {
  color: #cccccc;
  font-family: 'Raleway', sans-serif;
}
/* Custom CSS */
.navbar-dropdown .navbar-logo img {
    height: auto !important;
    width: 100%;
    max-width: 500px;
}
.mbr-section.bindery {
  margin-bottom: 60px;
}
.scroll-down-arrow {
  padding-top: 30px;
  display: none;
}
@media (max-width: 415px) {
  .mbr-section.mbr-parallax-background {
    padding-bottom: 60px !important;
  }
  .scroll-down-arrow {
    display: block;
  }
}
/*.mbr-arrow-up-icon::before {
    left: 0 !important;
}*/
#success_page {
    color: #fac51c;
}
#features7-4 .card-block,
#features7-4 .card-text {
  text-align: left;
}
.mbr-cards-col.bindery {
  background: url('../../images/bindery-1400x933-overlay.jpg');
  background-size: cover;
  color: #fff;
}
@media (max-width: 800px) {
  .mbr-cards-col.bindery .container.bindery .mbr-section-title {
    position: relative;
    top:100px;
  }
  #features7-4 .mbr-cards-col {
    padding-top: 0px !important;
    padding-bottom: 40px !important;
  }
}
@media (min-width: 992px) {
  .mbr-cards-col.bindery .container.bindery .mbr-section-title {
  position: relative;
    top: 90px !important;
  }
}
.mbr-cards-col.bindery .container.bindery .mbr-section-title {
  position: relative;
  /*top:40px;*/
  top: 40px;
}
#features7-4 .mbr-cards-col {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
#content5-9 .card {
  background-color: transparent;
  border: none;
  border-radius: none;
  margin-bottom: 0;
}
.mbr-cards .striped.prepress .mbr-cards-col:nth-child(2n+1) {
    background: transparent;
    color: #000;
}
